html {
  font-size: 62.5%;
  box-sizing: border-box;
}
body {
  margin: 0;
  height: 100vh;
  font-size: 16px;
  /* background-color: black; */
  font-family: Helvetica, Arial, sans-serif;
  /* font-family: Courier New, monospace; */

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
#root {
  height: 100%;
}
/* Layout */
.grid-container {
  display: grid;
  grid-template-areas: "header" "main" "footer";
  grid-template-columns: 1fr;
  grid-template-rows: 5rem 1fr 5rem;
  height: 100%;
}

main {
  grid-area: main;
  padding: 1rem;
}
footer {
  grid-area: footer;
  /* background-color: black; */
  color: gold;
  /* border: 1px solid gold; */
  box-shadow: 0 0 10px 0 rgb(255, 217, 0);
}
.row {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}
.row.center {
  justify-content: center;
}
.row.top {
  align-items: flex-start;
}
.col-1 {
  flex: 1 1 25rem;
  color: gold;
  /* padding-left: 20px; */
}
.col-2 {
  flex: 2 1 50rem;
}
.details {
  margin: 5rem;
}
.min-30 {
  min-width: 30rem;
  color: gold;
}
/* Common */
h1 {
  font-size: 1.8rem;
  padding: 1rem 0;
}
h2 {
  font-size: 1.6rem;
  padding: 1rem 0;
}
a {
  text-decoration: none;
}
a:hover {
  color: #3f3f10;
}
ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}
li {
  margin-top: 1rem;
}
button {
  padding: 1rem;
  border-radius: 0.5rem;
  border: none;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  cursor: pointer;
}
button:hover {
  /* border: 0.1rem black solid; */
  background-color: black;
  color: white;
}
button.primary {
  background-color: gold;
}
button.block {
  width: 100%;
}
button.delete {
  color: gold;
}
.muiButton {
  padding: 1rem;
  border-radius: 0.5rem;
  border: 0.1rem solid gold;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  cursor: pointer;
  color: black;
}

/* Header  */
header {
  grid-area: header;
  /* background-color: black; */
  /* border: 1px solid gold; */
  box-shadow: 0 0 10px 0 rgb(255, 217, 0);
}
header a {
  color: rgb(255, 217, 0);
  /* text-shadow: 0 0 10px 0 rgb(255, 217, 0); */
  /* text-shadow: 2px 2px rgb(255, 217, 0); */
  padding: 1rem;
}
a.brand {
  font-size: 3rem;
  font-weight: bold;
  /* text-shadow: rgb(255, 217, 0); */
}
.row.center {
  justify-content: center;
}
/* Image */
img {
  border-radius: 0.5rem;
}
img.small {
  max-width: 5rem;
  width: 100%;
}
img.medium {
  max-width: 29rem;
  width: 100%;
}
img.large {
  width: 100%;
}
/* Card */
.card {
  /* border: 0.1rem gold solid; */
  color: gold;
  /* background-color: black; */
  border-radius: 0.5rem;
  margin: 5rem;
  box-shadow: 0 0 10px 0 rgb(255, 217, 0);
}
.card-body {
  padding: 1rem;
}
.card-body > * {
  margin-bottom: 0.5rem;
}
.product-name {
  color: gold;
}
.product-name:hover {
  color: #3f3f10;
}
.price {
  font-size: 2rem;
}

.rating span {
  color: gold;
  margin: 0.1rem;
}
/* Alert */
.success {
  color: green;
}
.danger {
  color: red;
}
.alert {
  padding: 1rem;
  border: 0.1rem solid transparent;
  border-radius: 0.5rem;
}

.alert-info {
  color: blue;
  /* background-color: white; */
}
.alert-danger {
  color: red;
  /* background-color: white; */
}
.select {
  color: gold;
}

/* logIn/SignUp  */
form {
  position: relative;
  width: 480px;
  margin: 30px auto 20px auto;
  /* background: #eee; */
  color: gold;
  padding: 15px;
  border-radius: 7px;
  /* box-shadow: 0 1px 5px black; */
  box-shadow: 0 0 10px 0 rgb(255, 217, 0);
}
form input,
form textarea {
  width: 100%;
  border: none;
  padding: 4px;
  outline: none;
  font-size: 1.2em;
  border-radius: 15px;
  /* background-color: #020202; */
  /* color: #f5ba13; */
  /* font-family: inherit; */
  /* resize: none; */
}
.formSubmit {
  margin-top: 15px;
  height: 30px;
  width: 30rem;
  /* font-family: "McLaren", cursive; */
  /* font-weight: 200; */
  /* color: #fff; */
  border: none;
  background-color: #f5ba13;
  /* box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3); */
  box-shadow: 0 0 10px 0 rgb(255, 217, 0);
  outline: none;
  cursor: pointer;
  border-radius: 7px;
  margin-left: 18%;
  /* left: 50%; */
  /* top: 50%; */
}

.link {
  text-align: center;
  margin-top: inherit;
}
